---
layout: layouts/base.njk
section: home
---

<figure style="float: right; text-align: center; margin-left:1em">
    <img src="static/img/patagonia.jpg" alt="An ugly picture of me in patagonia" width="700"/>
</figure>

{{ layoutContent | safe }}